<nav>
    <ul>
        <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/page1" class="<%= currentPage === 'page1' ? 'active' : '' %>">Page 1</a></li>
        <li><a href="/page2" class="<%= currentPage === 'page2' ? 'active' : '' %>">Page 2</a></li>
        <li><a href="/page3" class="<%= currentPage === 'page3' ? 'active' : '' %>">Page 3</a></li>
    </ul>
</nav>